    aside {
        width: 40%;
        // height: auto;
        border: 2px solid $bgc;

        @media(max-width:62em) {
            width: 100%;
        }

        .inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $btn-color;
            background-color: $theme-color;
            font-size: 1.1rem;
            padding: .5rem 3rem;
        }

        ul {

            li {
                padding: .5rem 3rem;


                a {
                    font-size: 1.4rem;
                    font-family: $my_font;
                    color: $a_tag_color;
                    font-weight: bold;

                }
            }
        }

    }