header {

    .top-nav {
        background-color: $bgc;

        @media(max-width:62em) {
            display: none;
        }

        .top-nav-container {
            height: 4.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10rem;

            .container-1 {

                ul {
                    display: flex;

                    span {
                        @include span_tag();
                    }

                    li {

                        a {
                            font-size: 1.4rem;
                            color: $a_tag_color;

                            i {
                                padding-right: 1rem;
                            }
                        }
                    }
                }
            }
        }

        .container-2 {
            display: flex;
            align-items: flex-end;
            font-size: 1.4rem;
            color: $a_tag_color;

            ul {
                display: flex;

                span {
                    @include span_tag();
                }

                li {
                    margin: 0 1rem;
                    font-size: 1.4rem;

                    a {
                        color: $a_tag_color;
                    }
                }
            }

            .flag-div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.4rem;

                span {
                    @include span_tag();
                }

                img {
                    width: 2.4rem;
                }

                a {
                    margin-left: 1rem;
                    color: $a_tag_color;
                }
            }
        }
    }

    .bottom-nav {
        padding: 0 10rem;

        @media(max-width:62em) {
            display: block;
            padding: 2rem 4rem;
        }

        .items {
            height: 5.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                font-size: 1.8rem;
            }

            nav {
                width: 50%;
                // border: 2px solid black;

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    li {

                        a {
                            font-weight: 700;
                            font-size: 1.4rem;
                            text-transform: uppercase;
                            color: $a_tag_color;

                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }

                }

                @media(max-width:62em) {
                    display: none;
                }

            }

            .icons {
                display: flex;
                align-items: center;
                justify-content: center;

                ul {
                    display: flex;

                    li {
                        a {
                            font-size: 2rem;
                            color: $a_tag_color;
                            padding: 0 1rem 0 0;

                            span {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }

                @media(max-width:62em) {
                    display: none;
                }
            }

            .humberger {
                display: none;
                border: 2px solid $a_tag_color;
                padding: 0.5rem;

                i {
                    font-size: 2rem;
                }

                @media(max-width:62em) {
                    display: block;
                }
            }
        }

    }
}